$solid-green: rgb(0, 128, 0);
$green: rgb(144, 238, 144);
$light-green: rgb(183, 253, 183);
$yellow: rgb(238, 236, 144);

.todo-done {
    background-color: $green;
    color: $solid-green;
}

.todo-done:hover {
    background-color: $light-green;
}

.todo-item {
    padding: 5px 10px;
    height: 20px;
    cursor: pointer;

    .delete-btn {
        float: right;
        border: 1px solid $solid-green;
        height: 20px;
        width: 20px;
        font-size: 15px;
        text-align: center;
        user-select: none;
        line-height: 20px;
    }

    .delete-btn:hover {
        background-color: $yellow;
    }
}