/* tab-tabset */

.tab-tabset {
    width: 30%;
    min-width: 350px;

    padding: 10px;
    margin: 0 auto;

    border: 1px solid lightgray;
    border-radius: 5px;
}

/* tab-title */

.tab-tabset .tab-title div {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    
    width: 32%;
    padding: 10px 0px;
    
    color: aliceblue;
    background-color: rgb(149, 151, 245);
    border-radius: 5px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    
    transition: 0.3s;
}

.tab-tabset .tab-title div:hover {
    background-color: rgb(104, 106, 243);
} 

.tab-tabset .tab-title .tab-active {
    background-color: rgb(44, 47, 221);
}

/* tab-content */

.tab-tabset .tab-content div {
    display: none;
}

.tab-tabset .tab-content .tab-active {
    display: block;
    padding: 10px 5px;

    animation: 0.7s showText;
    animation-fill-mode: forwards;
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tab-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

