* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 5%;
    padding: 50px;

    display: grid;
    grid-template-columns: 1fr 3fr;

    width: 600px;

    border: 1px solid slategrey;
    box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.2);
}

/* sidebar */

.sidebar {
    display: inline-block;
    min-width: 220px;
}

.sidebar-list {
    display: grid;
    align-items: stretch;

    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

.sidebar-user {
    margin: 1px 0;
    padding: 10px 5px;

    background-color: slateblue;
    color: white;

    cursor: pointer;
    user-select: none;

    animation: forwards 0.5s full-opacity;
}

.sidebar-user:hover {
    background-color: darkblue;
}

.sidebar-user:active {
    color: red;
}

.sidebar .new-button {
    width: 100px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}
.sidebar .new-button:hover{
    background-color: black;
    color: white;
}

.sidebar .new-button:active{
    text-decoration: underline dashed;
}

/* form-conatiner */

.form-container {
    margin: 0;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 300px 25px;
    grid-template-rows: 25px 300px 25px;
}

.form-container .remove-button {
    grid-column: 2;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    outline: none;

    background-color: lightpink;
}

.form-container .remove-button:hover{
    background-color: red;
}

.form-container .remove-button:active{
    background-color: black;
    color: white;
}

.form-container .save-button {
    grid-column: 1;
    height: 25px;
    width: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: lightgoldenrodyellow;
}

.form-container .save-button:hover{
    background-color: yellow;
}

.form-container .save-button:active{
    background-color: black;
    color: white;
}

/* main-form */

.main-form label, .main-form input {
    width: 100%;
    display: inline-block;
    height: 20px;
    margin-bottom: 5px;
}

.main-form input {
    width: 99%;
}

/* other */

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s linear;
}

.loading {
    opacity: 0.2;
    transition: opacity 0.3s linear;
}

.active {
    background-color: darkblue;
}

.hidden {
    visibility: hidden;
}

/* animation  */

@keyframes full-opacity {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes half-opacity {
    from { opacity: 0 }
    to { opacity: 0.5 }
}


