.contact-list-container {
    text-align: center;
}

.contact-list-table {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    border-collapse: collapse;
}

/* thead */

.contact-list-table thead th {
    background-color: black;
    color: white;
}

.contact-list-table thead tr th {
    width: 120px;
}

.contact-list-table thead tr th:nth-last-child(-n+1) { 
    width: 5px; 
}

.contact-list-table td, .contact-list-table th {
    padding: 10px 15px;
}

/* tbody */

.contact-list-table tbody tr {
    border-bottom: 1px solid black;
}

.contact-list-table tbody tr td:nth-last-child(-n+1) { /* delete buttons */
    user-select: none;
    background-color: red;
    color: white;
    font-size: 0.7em;
    transition: 0.5s;
}

.contact-list-table tbody tr td:nth-last-child(-n+1):hover{
    cursor: pointer;
    background-color: lightcoral;
}

.contact-list-table tbody tr:nth-child(even) {
    background-color: lightgray;
}

/* form container */

.contact-list-form-container {
    width: 800px;
    margin: 0 auto;

    text-align: left;
}

/* form */

.contact-list-form {
    padding-top: 10px;
}

.contact-list-form input {
    width: 27%;
}

.contact-list-form input, .contact-list-form button {
    padding: 5px 10px;
    font-size: 1em;
}

.contact-list-form button { /* add button */
    width: 10%;
    background-color: yellow;
    color: black;
    transition: 0.5s;
}

.contact-list-form button:hover { 
    cursor: pointer;
    background-color: black;
    color: white;
}

/* other */

.red-warning {
    color: red;
    background-color: lightpink;
    
}